FLASK_APP=application
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=mealplan_db
POSTGRES_PORT=5432
POSTGRES_DB=example
FLASK_SECRET=secret
TODOIST_TOKEN=123
TODOIST_LIST=ShoppingList
SCREENSHOT_URL=http://localhost:5000/
TZ=Europe/Berlin
COOKIDOO_EMAIL=cookidoo_account
COOKIDOO_PASSWORD=cookidoo_account