flask==3.1.2
flask-sqlalchemy==3.1.1
Flask-Migrate==4.1.0
psycopg2==2.9.11
nltk==3.9.2
selenium==4.39.0
Pillow==12.1.0
recipe-scrapers==15.11.0
todoist-api-python==3.1.0
waitress==3.0.2
pytest==9.0.2
Flask-Testing==0.8.1
celery==5.6.2
redis==7.1.0
cookidoo_api==0.15.0
