{% extends 'base.html' %}

{% block content %}

<html>

<head>
	<meta charset='utf-8' />

	<link rel="stylesheet" type="text/css" href="/static/cal-style.css">

	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
			font-size: 14px;
		}

		#script-warning {
			display: none;
			background: #eee;
			border-bottom: 1px solid #ddd;
			padding: 0 10px;
			line-height: 40px;
			text-align: center;
			font-weight: bold;
			font-size: 12px;
			color: red;
		}

		#loading {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		h1 {
			text-align: center;
			color: rgba(187, 187, 187, 0.993);
			font-size: 4rem;
			/* text-shadow: 2px 2px 3px rgb(236, 236, 225); */
		}

		.visible {
			display: block;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div id='calendar' class="col-md-10"></div>

			<div style="text-align:center;" id="calendar-dropdown" class="col-md-2">
				<em>
					<h4 style="color: white; text-align:center;">Mealplan</h4>
				</em>

				<div style="text-align: center;" class="dropdown">
					<button id="recipe-control" type="button" class="button5 dropdown-toggle"
						data-toggle="dropdown">Rezepte
						<span class="caret"></span></button>
					<ul class="dropdown-menu" style="text-align: center;">
						<li><a class="dropdown-item" data-toggle="modal" data-target="#createRecipeModal" href="#">Neues
								Rezept</a></li>
						<div class="divider"></div>
						<li><a class="dropdown-item" data-toggle="modal" data-target="#importRecipeModal" href="#">
								Rezept importieren</a></li>
						<div class="divider"></div>
						<li><a class="dropdown-item" href="/recipe-index">Alle Rezepte</a></li>
					</ul>
				</div>

				<div style="margin-top: 5px;">
					<button class="button5" type="button" onclick="redirect_ingredients();return false;">
						Einkauf
					</button>
				</div>

				<div class="popup-help help-button-wrapper about-button" id="about" onclick="myFunction()">
					<div id="about-text">Hilfe</div>
					<span class="help-popup help-text" id="myPopup">
						1. Rezept importieren oder eigenes Rezept anlegen.
						</br>2. In den Kalender klicken um Essen zu planen.
						</br>3. Auf geplantes Essen klicken um Rezept anzuzeigen.
						</br>4. Bereich markieren und Einkaufsliste erzeugen.
					</span>
				</div>
			</div>
		</div>
	</div>

	<!-- start recipe instructions modal -->
	<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-body" id="content">
			//ajax success content
		</div>
	</div>
	<!-- end recipe instructions modal -->


	<!-- start ADD MEAL modal-->
	<div id="addMeal" class="modal fade">
		<div class="modal-dialog" style="background-color:rgba(10, 10, 10, 0.9);" class="modal-content">
			<!-- Modal Header -->
			<div style="border-bottom: none;" class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span style="text-shadow: none; color: white;">&times;</span>
				</button>
				<h4 style="color:#fff; text-align: center;" class="modal-title" id="myModalLabel">
					Essen planen
				</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">

				<form class="form-horizontal" action="/full-calendar" method="post" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">
							Rezept
						</label>
						<div class="col-sm-10">
							<select id="recipe-add" name="name">
								{% for recipe in recipes|sort(attribute="name") %}
								<option value="{{ recipe.id }}">{{ recipe.name }}</option>
								{% endfor %}
							</select>
						</div>
						<input name="date" type="hidden" id="addMealDate" value="{{ date }}" />
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">
								Hinzufügen
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end ADD MEAL modal -->

	<div id='script-warning'>
		Error getting data from <code>/data</code> endpoint.
	</div>

	<!-- start CREATE RECIPE modal -->

	<!-- Modal -->
	<div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div style="background-color:rgba(10, 10, 10, 0.9);" class="modal-content">

				<!-- Modal Header -->
				<div style="border-bottom: none;" class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span style="text-shadow: none; color: white;">&times;</span>
					</button>
					<h4 style="color: #fff; text-align: center;" class="modal-title" id="myModalLabel">
						Rezept anlegen
					</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">

					<form class="form-horizontal" action="{{ url_for('add_recipe') }}" method="post" role="form"
						enctype=multipart/form-data>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputName">Name</label>
							<div class="col-sm-10">
								<input name="name" type="text" class="form-control" id="inputName" placeholder="Name" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputTime">Dauer</label>
							<div class="col-sm-10">
								<input name="time" type="number" class="form-control" id="inputTime"
									placeholder="Number in Minutes (default 30)" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputIngredients">Zutaten</label>
							<div class="col-sm-10">
								<textarea name="ingredients" type="text" class="form-control" id="inputIngredients"
									placeholder="1 pro Zeile, z.B. 1 g Liebe"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputInstructions">Zubereitung</label>
							<div class="col-sm-10">
								<textarea name="instructions" type="text" class="form-control" id="inputInstructions"
									placeholder="Schneiden. Würzen. Kochen."></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputIcon">Icon</label>
							<div class="col-sm-10">
								<select title="Select" class="selectpicker" name="icon" data-width="90px">
									<option data-content="<img src='/static/images/pasta.png'>">pasta.png</option>
									<option data-content="<img src='/static/images/potato.png'>">potato.png</option>
									<option data-content="<img src='/static/images/rice.png'>">rice.png</option>
									<option data-content="<img src='/static/images/pizza.png'>">pizza.png</option>
									<option data-content="<img src='/static/images/meat.png'>">meat.png</option>
									<option data-content="<img src='/static/images/vegs.png'>">vegs.png</option>
									<option data-content="<img src='/static/images/sweet.png'>">sweet.png</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputImage">Bild</label>
							<div class="col-sm-10">
								<input type='file' class='file-input' name='image' id='image'>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Anlegen</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- end CREATE RECIPE modal -->

	<!-- start IMPORT RECIPE modal -->

	<!-- Modal -->
	<div class="modal fade" id="importRecipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div style="background-color:rgba(10, 10, 10, 0.9);" class="modal-content">

				<!-- Modal Header -->
				<div style="border-bottom: none;" class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span style="text-shadow: none; color: white;">&times;</span>
					</button>
					<h4 style="color: #fff; text-align: center;" class="modal-title" id="myModalLabel">
						Rezept anlegen
					</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body">

					<form class="form-horizontal" action="{{ url_for('import_recipe') }}" method="post" role="form"
						enctype=multipart/form-data>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputLink">Name</label>
							<div class="col-sm-10">
								<input name="link" type="text" class="form-control" id="inputLink"
									placeholder="https://www.chefkoch.de/rezepte/837041188488040/Avocado-Feta-Nudeln.html?portionen=4" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputIcon">Icon</label>
							<div class="col-sm-10">
								<select title="Select" class="selectpicker" name="icon" data-width="90px">
									<option data-content="<img src='/static/images/pasta.png'>">pasta.png</option>
									<option data-content="<img src='/static/images/potato.png'>">potato.png</option>
									<option data-content="<img src='/static/images/rice.png'>">rice.png</option>
									<option data-content="<img src='/static/images/pizza.png'>">pizza.png</option>
									<option data-content="<img src='/static/images/meat.png'>">meat.png</option>
									<option data-content="<img src='/static/images/vegs.png'>">vegs.png</option>
									<option data-content="<img src='/static/images/sweet.png'>">sweet.png</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputImage">Bild</label>
							<div class="col-sm-10">
								<input type='file' class='file-input' name='image' id='image'>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Importieren</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- end IMPORT RECIPE modal -->

	<script>
		// dynamic url for ingredients
		var selected_start;
		var selected_end;

		function generate_ingredients_url() {
			return "/ingredients?start=" + selected_start + "&end=" + selected_end;
		}

		function redirect_ingredients() {
			window.location = generate_ingredients_url();
		}

		// When the user clicks on div, open the popup
		function myFunction() {
			var popup = document.getElementById("myPopup");
			popup.classList.toggle("show");
		}

		$(document).click(function (event) {
			//if you click on anything except the modal itself or the "open modal" link, close the modal
			if (!$(event.target).closest(".modal,.js-open-modal").length) {
				$("body").find(".modal").removeClass("visible");
			}
		});

		$(document).ready(function () {
			$('#calendar').fullCalendar({
				eventRender: function (event, eventElement) {
					if (event.imageurl) {
						eventElement.find('div.fc-content').append('<br><br><img src="' + event.imageurl + '" width="50" height="50" >');
					}
				},
				header: {
					left: 'today,prev,next',
					center: 'title',
					right: 'month,basicWeek'
				},
				eventClick: function (event, jsEvent, view) {
					//TODO: pass also recipe name for add and removing different events

					$.ajax({
						url: 'modal-recipe',
						data: recipe_data = { "recipe_date": event.start.format(), "recipe_name": event.title },
						type: 'POST',
						async: true
					}).done(function (response) {
						//console.log(response);
						$("#content").html(response);
						$("#recipeModal").modal("toggle");
					}).fail(function (error) {
						console.log(error);
					});
				},
				dayClick: function (date, jsEvent, view) {
					date = date.format()
					id = jsEvent.id
					addMeal(date, id)
				},
				select: function (start, end, jsEvent, view) {
					selected_start = start.format()
					selected_end = end.format()
				},
				selectable: true,
				unselectAuto: true,
				unselectCancel: '#recipe-control',
				editable: true,
				eventLimit: true,
				eventStartEditable: false,
				events: {
					url: 'data',
					error: function () {
						$('#script-warning').show();
					}
				},
				loading: function (bool) {
					$('#loading').toggle(bool);
				},
			});
		});

		function addMeal(date) {
			$("#addMealDate").val(date);
			$("#addMeal").modal("toggle");
		}

		//reload page after recipe modal after recipe modal
		$('#recipeModal').on('hidden.bs.modal', function () {
			console.log("reload...")
			document.location.reload();
		})

	</script>

</body>

{% endblock %}