{% extends 'base.html' %}

{% block content %}

<div class="container" style="background-color:rgba(10, 10, 10, 0.678); margin-top: 5%; color: white; max-width: 70%;">
    <div class="row">

        <h3 style="text-align: center;" class="col-md-6">Zutaten von {{ start }} bis {{ end }}:</h3>

        <div style="margin-top: 15px; text-align: center;" class="col-md-6">
            <a href="/full-calendar"><input class="button5" type="button" name="button5" value="Kalender"/></a>
            <a style="margin-top: 5px;" href="#"><button style="margin-top: 5px;" class="printBtn hidden-print button5">Drucken</button></a>
        </div>

    </div>
    <form class="form-group" action="{{ url_for('export_todoist') }}" method="post" role="form">
    <ul id="ingred-list" style="margin-top: 20px; list-style-type:none; margin: 0 auto; display: table;">
        <!-- sorted alphabetically for now -->
        {% for k, v in ingredients_dict.items()| sort %}
        {% if k and v != None %}
        <li><input type="checkbox" name="export_ingredient" value="{{ v[0] }} {{ v[1] }}  {{ k }}"> {{ v[0] }} {{ v[1] }}  {{ k }}</li>
        {% endif %}
        {% endfor %}
        <div style="text-align:center; margin-top: 5px;">
            <button type="submit" class="btn btn-default">Todoist</button>
        </div>
    </ul>
    </form>
</div>

<script type="text/javascript">
    $('.printBtn').on('click', function (){
        window.print();
    });
</script>

    
{% endblock %}