{% extends 'base.html' %}

{% block content %}

<div id="background"></div>

<div class="container" style="background-color:rgba(10, 10, 10, 0.9); margin-top: 5px; color: white; max-width: 82%;">

    <!-- Display 'SAVE RECIPE' button if not in db -->
    {% if new %}
    <div class="row">
        <div style="text-align: center;">
            <div style="margin: 5px; display: inline-block;">
                <form action="{{ url_for('add_recipe') }}" method="post">
                    <input type="hidden" name="name" value="{{ recipe.name }}" />
                    <input type="hidden" name="time" value="{{ recipe.time }}" />
                    <input type="hidden" name="ingredients" value="{{ recipe.ingredients }}" />
                    <input type="hidden" name="instructions" value="{{ recipe.instructions }}" />
                    <input type="submit" class="button5" value="Save Recipe" />
                </form>
            </div>

            <div style="margin: 5px; display: inline-block;">
                <form>
                    <a href="/full-calendar"><input class="button5" type="button" name="button5" value="Kalender" /></a>
                </form>
            </div>
        </div>
    </div>
    {% endif %}


    <!--  close modal button  -->
    {% if not button_flag and not new %}
    <div>
        <button style="color: #fff; float: right;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="text-shadow: none; color: white;" aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    {% endif %}

    <!-- remove meal from calendar -->
    {% if recipe_date %}
    <form style="text-align: center;" action="/remove-meal" method="post">
        <input type="hidden" name="dinner_to_remove" value="{{ recipe_date }}">
        <input class="button5" style="color:black; margin-top: 2%;" type="submit" id="remove" value="Entfernen" />
    </form>
    {% endif %}

    <!--  LINK to COOKBOOK, EDIT and DELETE RECIPE button  -->
    {% if button_flag %}
    <div class="row">
        <div style="text-align: center;">
            <!-- link to recipe index page -->
            <div style="margin: 5px; display: inline-block;">
                <form style="color:black;">
                    <a href="/recipe-index"><input class="button5" type="button" name="button5" value="Kochbuch" /></a>
                </form>
            </div>

            <!-- EDIT RECIPE -->
            <div style="margin: 5px; display: inline-block;">
                <form style="color:black;">
                    <input type="hidden" name="id" value="{{ recipe.id }}" />
                    <a href="#"><input class="button5" type="button" id="editButton" data-target="#editRecipeModal" value="Ändern" /></a>
                </form>
            </div>

            <!-- DELETE RECIPE from cookbook -->
            <div style="margin: 5px; display: inline-block;">
                <form style="color:black;" action="{{ url_for('delete_recipe') }}" method="post">
                    <input type="hidden" name="id" value="{{ recipe.id }}" />
                    <input style="display: inline-block; position: relative;" type="submit" class="button5"
                        onclick="return confirm('Rezept aus Kochbuch löschen?')" value="Löschen" />
                </form>
            </div>


        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#editButton').on('click', function () {
                $("#editRecipeModal").modal("toggle");
            });
        });

        function formatIngredients(text) {
            return text.split(";").join("\n");
        };
    </script>

    {% endif %}

    <h1 class="recipe-text-responsive" style="text-align: center;">{{ recipe.name }}</h1>

    <!--   recipe information    -->

    {% if recipe.time <= 60 %} <h3 class="recipe-text-responsive" style="text-align: center;">Zubereitungsdauer: <em>{{
            recipe.time }} Minuten</em></h3>
        {% else %}
        {% set recipe_hour = recipe.time//60 %}
        {% set recipe_mins = recipe.time%60 %}
        {% if not recipe_mins %}
        <h3 class="recipe-text-responsive">Zubereitungsdauer: <em>{{ recipe_hour }} Stunden</em></h3>
        {% else %}
        <h3 class="recipe-text-responsive">Zubereitungsdauer: <em>{{ recipe_hour }} Stunden : {{ recipe_mins }}
                Minuten</em></h3>
        {% endif %}
        {% endif %}

        <center><img src="{{ url_for('recipe_image', recipe_id=recipe.id) }}" style="max-width:250px;width:100%" onerror="if (this.src != '/static/images/default.png') this.src = '/static/images/default.png';"></center>

        <h3 class="recipe-text-responsive">Zutaten:</h3>
        {% for ingredient in ingredients %}
        <ul>
            <li>{{ ingredient }}</li>
        </ul>
        {% endfor %}

        <h3 class="recipe-text-responsive">Zubereitung:</h3>
        {% for step in instructions %}
        <ul style="list-style-type:none">
            <h4 id="recipe-instructions-responsive">
                <li>{{ loop.index }}. {{ step }}.</li>
            </h4>
        </ul>
        {% endfor %}

</div>

<!-- Modal EDIT RECIPE -->
<div class="modal fade" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div style="background-color:rgba(10, 10, 10, 0.9);" class="modal-content">

            <!-- Modal Header -->
            <div style="border-bottom: none;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span style="text-shadow: none; color: white;">&times;</span>
                </button>
                <h4 style="color: #fff; text-align: center;" class="modal-title" id="myModalLabel">
                    Rezept bearbeiten
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" action="{{ url_for('edit_recipe') }}" method="post" role="form" enctype=multipart/form-data>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputName">Name</label>
                        <div class="col-sm-10">
                            <input type="hidden"  name="id" value="{{recipe.id}}">
                            <input name="name" type="text" class="form-control" id="inputName"
                                value="{{recipe.name}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputTime">Dauer</label>
                        <div class="col-sm-10">
                            <input name="time" type="number" class="form-control" id="inputTime"
                                value="{{recipe.time}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputIngredients">Zutaten</label>
                        <div class="col-sm-10">
                            <textarea name="ingredients" type="text" class="form-control" id="inputIngredients">{{"\n".join(recipe.ingredients.split(";"))}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputInstructions">Zubereitung</label>
                        <div class="col-sm-10">
                            <textarea name="instructions" type="text" class="form-control" id="inputInstructions">{{recipe.instructions}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputIcon">Icon</label>
                        <div class="col-sm-10">
                            <select title="Select icon" class="selectpicker" name="icon">
                                <option data-content="<img src='/static/images/pasta.png'>">pasta.png</option>
                                <option data-content="<img src='/static/images/potato.png'>">potato.png</option>
                                <option data-content="<img src='/static/images/rice.png'>">rice.png</option>
                                <option data-content="<img src='/static/images/pizza.png'>">pizza.png</option>
                                <option data-content="<img src='/static/images/meat.png'>">meat.png</option>
                                <option data-content="<img src='/static/images/vegs.png'>">vegs.png</option>
                                <option data-content="<img src='/static/images/sweet.png'>">sweet.png</option>
                              </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputImage">Bild</label>
                        <div class="col-sm-10">
                            <input type = 'file' class = 'file-input' name = 'image' id = 'image'>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Speichern</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}